@model DebtManagement.Web.DTOs.DebtDTO

@{
    ViewData["Title"] = "Create Debt";
}

<h1>Create Debt</h1>

<h4>Debt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="DebtType" class="control-label"></label>
                <input asp-for="DebtType" class="form-control" />
                <span asp-validation-for="DebtType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebtAmount" class="control-label"></label>
                <input asp-for="DebtAmount" class="form-control" />
                <span asp-validation-for="DebtAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Installments" class="control-label"></label>
                <input asp-for="Installments" class="form-control" />
                <span asp-validation-for="Installments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingAmount" class="control-label"></label>
                <input asp-for="RemainingAmount" class="form-control" />
                <span asp-validation-for="RemainingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EarlyClosingAmount" class="control-label"></label>
                <input asp-for="EarlyClosingAmount" class="form-control" />
                <span asp-validation-for="EarlyClosingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRateMonthly" class="control-label"></label>
                <input asp-for="InterestRateMonthly" class="form-control" />
                <span asp-validation-for="InterestRateMonthly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRateYearly" class="control-label"></label>
                <input asp-for="InterestRateYearly" class="form-control" />
                <span asp-validation-for="InterestRateYearly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceAmount" class="control-label"></label>
                <input asp-for="InsuranceAmount" class="form-control" />
                <span asp-validation-for="InsuranceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.Clients"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
